<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex align-items-center justify-content-center" style="height: 100vh; background-color: #f8f9fa;">
<div class="card w-400 p-4 shadow rounded" style="width: 400px;">
    <div class="card-body">
        <h2 class="card-title mb-4">Error</h2>
        <div class="text-danger mb-3" th:text="${errorMessage}">An error occurred</div>
        <button onclick="window.history.back()" class="btn btn-primary">Back</button>
    </div>
</div>
</body>
</html>
